<p id="notice"><%= notice %></p>

<iframe width="100%" height="450" src="https://youtube.com/embed/<%= @video.youtube_embed_id%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>
  <strong>Título:</strong>
  <%= @video.title %>
</h5>
<span class="new badge" data-badge-caption="">Categoria: <%= @video.category.name %></span>
<p>
  <strong>URL do vídeo no Youtube:</strong>
  <%= @video.youtube_url %>
</p>

<br/>

<div id="list-comments">
  <%= render "comments"%>
</div>
<br/>
<div class="row">
  <%= hidden_field_tag :video_id, @video.id%>
  <div class="col s12 m4">
    <%= label_tag :author, "Seu nome"%>
    <%= text_field_tag :author%>
  </div>
  <div class="col s12 m8">
    <%= label_tag :text, "Comentário"%>
    <%= text_field_tag :text%>
  </div>
  <div class="col s12">
    <button class="btn waves-effect waves-light  right" type="button" name="action" id="send">Comentar
      <i class="material-icons left">comment</i>
    </button>
  </div>
</div>